[submodule "app/classes/Core"]
	path = app/classes/Core
	url = https://github.com/smallhadroncollider/starch-core
[submodule "docs"]
	path = docs
	url = https://github.com/smallhadroncollider/starch-docs
